{{>head}}

    {{>navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Come along with me</h1>
            <p>Cause you are you are the reason why I'm still hanging out</p>
        </div>
        
        <div class="col-4">
            <img src="/public/assets/img/profile.png" alt="" class="img-thumbnail">
        </div>
    </div>

{{>footer}}